.warapper
  = render "shared/header"
  .list
    .list__title
      %p 日付
      %p 科目
      %p 項目
      %p 価格
      %p メモ
      %p 画像
      %p 編集
      %p 削除
    .list__contents
      - @book.each do |book|
        .list__contents__date
          = book.date.strftime('%Y/%m/%d')
          .list__contents__select
            = book.select
          .list__contents__category
            = book.category.name
          .list__contents__price
            = book.price
          .list__contents__memo
            = book.memo
          .list__contents__image
            -# = link_to image_tag(src: book.image)
            - if book.image.present?
              -# = link_to book.image.url, 'data-lightbox': book.image do
              %img{src: book.image ,width:"50px",height:"30px"}