.warapper
  = render "shared/header"
  .search
    = search_form_for @q do |f|
      = f.label :memo_cont, "name", class: "font-weight-bold"
      = f.search_field :memo_cont, class: "form-control"
      = f.submit "完了"

  .list
    .list__title
      %p 日付
      %p 科目
      %p 項目
      %p 価格
      %p メモ
      %p 画像
      %p 編集
      %p 削除
    .list__contents
      - @book.each do |book|
        .list__contents__date
          = book.date.strftime('%Y/%m/%d')
          .list__contents__select
            = book.select
          .list__contents__category
            = book.category.name
          .list__contents__price
            = book.price
          .list__contents__memo
            = book.memo
          .list__contents__image
            - if book.image.present?
              %img{src: book.image ,width:"50px",height:"30px"}
          .list__contents__edit
            = link_to "編集", edit_book_path(book), class: "btn"
          .list__contents__destroy
            = link_to '削除', book_path(book.id), method: :delete, class: "btn", data: { confirm: "削除してよろしいですか？", commit: "削除する", cancel: "やめる"}
    = paginate(@book)
