.warapper
  = render "shared/header"
  .bookmarks
    .list
      .list__title
        %table
          %thead
            %tr
              %th BM
              %th 日付
              %th 科目
              %th 項目
              %th 価格
              %th メモ
              %th 画像
              %th 編集
              %th 削除
          %tbody
            - @bookmark_books.each do |book|
              %tr
                .bookmark
                  %td
                    = link_to book_bookmarks_path(book.id), class:"bookmark-on", method: :delete do
                      =icon('fas', 'star')
                .date
                  %td= book.date.strftime('%Y/%m/%d')
                .select
                  %td= book.select
                .category
                  %td= book.category.name
                .price
                  %td.price
                    ¥
                    = book.price.to_s(:delimited)
                .memo
                  %td= book.memo
                .image
                  %td
                    - if book.image.present?
                      %img{src: book.image ,width:"50px",height:"30px"}
                .edit
                  %td
                    = link_to edit_book_path(book), class: "btn" do
                      = icon('fas', 'edit')
                .destroy
                  %td
                    = link_to book_path(book.id), method: :delete, class: "btn", data: { confirm: "削除してよろしいですか？", commit: "削除する", cancel: "やめる"} do
                      = icon('fas', 'trash-alt')
        = paginate(@bookmark_books)
