.conteiner
  .input-box
    = form_with(model: @book, local: true) do |form|
      .date
        .title
          日付
        = form.date_field :date, class: 'date__detail'
      .category
        .title
          項目
      -# = f.collection_select :category_id, Item.all, :id, :category__detail
      .price
        .title
          金額
        = form.number_field :price, placeholder: "数字で入力", class: 'price__detail'
      .memo
        .title
          メモ
        = form.text_field :memo, placeholder: "メモ", class: 'memo__detail'
      .image
        .title
          画像
        = form.label :image, "添付ファイルを選択", class: "image__label"
        = form.file_field :image, class: 'image__file'
        = form.hidden_field :image_cache
      %button.register{type: "button"}
        = form.submit "登録", class:'register__button'