.warapper
  = render "shared/header"
  .conteiner
    .select
      .expense
        支出
      .income
        収入
    .input-box
      = form_with(model: @book, local: true) do |form|
        = form.text_field :date, placeholder: "2020年3月1日（日）", class: 'date'
        -# = collection_select :item, :region,Category.all,:id,:name,{include_blank: '---'} ,{class: "select-default2"}    
        -# = f.collection_select :category, Category.all, :id, :category_name,, include_blank: true
        = form.text_field :item, placeholder: "項目", class: 'item'
        = form.text_field :price, placeholder: "金額", class: 'price'
        = form.text_field :memo, placeholder: "メモ", class: 'memo'
        = form.submit "登録"

        
        -# .date
        -#   %input.date{type:"text", value: "2020年3月1日(日)"}
        -# .item
        -#   %input.item{type: "text", value: ""}
        -# .price
        -#   %input.price{type: "text", value: ""}
        -# .memo
        -#   %input.memo{type: "text", value: ""}
        -# .image
          
