!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MoneyBook
    = csrf_meta_tags
    = csp_meta_tag
    = include_gon
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_pack_tag 'application'
    = javascript_include_tag 'book'
  %body
    = yield
    